[submodule "src/red4ext/sdk"]
	path = src/red4ext/sdk
	url = https://github.com/WopsS/RED4ext.SDK.git
[submodule "src/red4ext/mecab"]
	path = src/red4ext/mecab
	url = https://github.com/dkollmann/mecab.git
