[submodule "src/red4ext/sdk"]
	path = src/red4ext/sdk
	url = https://github.com/WopsS/RED4ext.SDK.git
[submodule "src/red4ext/utf8proc"]
	path = src/red4ext/utf8proc
	url = https://github.com/JuliaStrings/utf8proc.git
[submodule "src/CP77_nativeSettings"]
	path = src/CP77_nativeSettings
	url = https://github.com/dkollmann/CP77_nativeSettings.git
	branch = main
[submodule "build/furiganamaker"]
	path = build/furiganamaker
	url = https://github.com/dkollmann/furiganamaker.git
	branch = main
