src/red4ext/.vs/
src/red4ext/x64/Debug/
src/red4ext/x64/Release/
build/.idea/
build/WolvenKit.Console/
build/dump.reds
dist/
packages/
.vscode/

*.user
*.redscripts

src/red4ext/Cyberpunk2077.exe-*.txt
src/red4ext/REDEngineErrorReporter.exe-*.txt
src/wolvenkit/Cyberpunk 2077 Furigana/files/Mod/
src/wolvenkit/Cyberpunk 2077 Furigana/packed/archive/pc/mod/
